@keyframes anime {
    0% {transform: translateX(0px);}
    50% {transform: translateY(200px);}
    100% {transform: translateY(0px);}
}

.image {
    width: 100px;
    height: 100px;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: infinity;
}