 /* The animation code */
@keyframes animatedSquare {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: animatedSquare;
  animation-duration: 4s;
  animation-iteration-count: infinite;    
} 