 /* The animation code */
@keyframes divcolor{
    0% {background-color: red;}
    100%{background-color: blue;}
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: divcolor;
  animation-duration: 4s;
  animation-iteration-count: infinite;   
} 